# ===================================================================
# PLANTILLA DE ENTORNO - MICROSERVICIO CARRITO (MS3)
# ===================================================================

MONGO_COLLECTION=carritos
MONGO_ROOT_USER=ms3_analytics_admin
MONGO_ROOT_PASSWORD=X7b@2nM$5kZ!9wRq
MONGO_DATABASE=ms3_analytics_prod_db
MONGO_AUTH_DB=admin

MONGO_HOST=172.31.37.154
MONGO_PORT=27017

HOST_PORT=8083
SERVER_PORT=8080

DOCKER_IMAGE=joselam/backend_ms3:latest
