# ===================================================================
# PLANTILLA DE ENTORNO - MICROSERVICIO CARRITO (MS3)
# ===================================================================

MONGO_COLLECTION=
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_DATABASE=
MONGO_AUTH_DB=

MONGO_HOST=
MONGO_PORT=

HOST_PORT=
SERVER_PORT=

DOCKER_IMAGE=
